<% layout('layout/boilerplate.ejs') %>
<div class="row my-3">
  <div class="text-center col-md-12 col-lg-4 left-profile">
    <div class="circular-photo" style="width: 50%">
      <img
        src="<%= currUser.images.url %>"
        alt="Circular Photo"
        class="img-fluid Profile-img"
        style="margin-left: 50%; margin-top: 20%;"
      />
    </div>
    <div class="user-info" style="margin: 20% 0;">
      <h4 class="text-light"><%= currUser.username %>'s CP profiles</h4>
      <h4 style="margin: 5% 0;"><a class="btn btn-primary" href="https://www.codechef.com/users/<%= currUser.CCprof %>">CodeChef</a></h4>
      <h4 style="margin: 5% 0;"><a class="btn btn-primary" href="https://codeforces.com/profile/<%= currUser.CFprof %>">CodeForces</a></h4>
    </div>
  </div>
  <div class="col-md-12 col-lg-8 right-profile">
    <div class="row mx-4 my-3">
      <div class="col-12">
        <h1 class="text-light">Posts</h1>
      </div>
      <div class="col-12">
        <% for(let i =currUser.blogs.length-1 ;i >= 0; i--){%>
        <div class="card text-center my-4 mx-5">
          <div class="card-header"><%= currUser.username %></div>
          <div class="card-body">
            <h5 class="card-title"><%= currUser.blogs[i].title %></h5>
            <p class="card-text"><%= currUser.blogs[i].body %></p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-2"></div>
              <div class="col-6">

                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-placement="right"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-title='<div class="row"><div class="col-12">Uploaded on : <%= currUser.blogs[i].createdAt %></div><div class="col-12">Updated on : <%= currUser.blogs[i].updatedAt %></div></div>'
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

</script>